{
    presets: [
      [
        "@babel/preset-env",
        {
          corejs: 3,
          loose: true,
          modules: false,
          useBuiltIns: "usage",
          shippedProposals: true,
          targets: {
            browsers: [">0.25%", "not dead"],
          },
        },
      ],
      [
        "@babel/preset-react",
        {
          corejs: 3,
          useBuiltIns: true,
          pragma: "React.createElement",
        },
      ],
    ],
    plugins: [
      "@quickbaseoss/babel-plugin-styled-components-css-namespace",
      [
        "@babel/plugin-proposal-class-properties",
        {
          loose: true,
        },
      ],
      "@babel/plugin-syntax-dynamic-import",
      "babel-plugin-macros",
      [
        "@babel/plugin-transform-runtime",
        {
          helpers: true,
          regenerator: true,
        },
      ],
    ],
  }